body{
    height:100%;
    background-image: rgb(212, 231, 185);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 100, 100);
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color:rgb(70, 40, 158);
}

button {
    background-color: #759c76;
}

input{
    align-items: center;
    width: 400px;
    height:30px;
    border-radius:5px;
    font-size:24px;
    padding: 2px;
    margin:3px;
}

input[type=submit]{
    width:408px;
    height: 25px;
    background-color: #759c76;
    border-radius:15px;
    font-size:12px;
}

:link {color:rgb(1, 172, 78)}
:visited {color:rgb(19, 107, 5)}

.post{
    display:flex;
    width:300px;
}

.postForm{
    align-items: center;
}