body{background-image:linear-gradient(rgb(225, 220, 215), rgb(27, 16, 29))}
.longbox{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    font-family: monospace;
}
.shortbox{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;

}
.text{
    font-size: 10px;
    text-align: center;
    font-family: monospace;
}